extends base

block content
    main.main
        .forgot-password-form
            h2.heading-secondary.ma-bt-lg Forgot your password?
            h3.forgot-password-text Please enter your email address to receive a password reset link.
            form.form.form--forgot-password(action='/forgot-password' method='POST')
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', name='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green(type='submit') Send Reset Link
